@import "../bower_components/bootstrap/less/bootstrap.less";

@brand-primary: #ff006e;

.name-header {
  font-size: 60px;
  letter-spacing: -2px;
}

@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-sans-serif: 'Muli', "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-family-base: @font-family-sans-serif;
@headings-font-family: @font-family-sans-serif;

@font-size-base: 16px;

.firstname {
	font-weight: 200 !important;
}

.lastname {
	font-weight: 300 !important;
}

.image-header {
  height: 300px;
  width: 100%;

  background: url(../img/ameoba.jpg) no-repeat right center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile-image {
  box-shadow: 3px 3px 3px #bdc3c7;
  width: 220px; 
  margin-top: 22px;
}

.conference {
  font-style: italic;
}

/* Footer-related: */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-weight: 400;
  line-height: 1.63;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}
